#previews {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.preview {
  margin-right: 30px;
}

.preview-image{
  width: 33vh;
  height: 33vh;
  object-fit: contain;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}